{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="article-item" role="article" itemscope itemtype="//schema.org/Article">
	<h1 class="article-item-headline" itemprop="headline">
		<a href="{{{url}}}" rel="bookmark">
			{{title}}
		</a>
	</h1>

	{{#if tags}}
	<div class="article-item-tag" itemprop="tag">&mdash; {{tags separator=", "}} &mdash;</div> {{else}} <hr>
	{{/if}}

	<div class="article-item-body" itemprop="articleBody">
		{{excerpt characters="140"}}
	</div>

	{{#primary_author}}
	<a href="{{url}}" class="article-item-author {{#if profile_image}}has-avatar{{/if}}"
	{{#if profile_image}} style="background-image: url({{img_url profile_image size="s"}});" title="{{name}}" aria-label="{{name}}" itemprop="author"><span class="sr-only">{{name}}</span>
	{{else}} style="width: 100%; height: auto; text-align: center;" itemprop="author">{{name}}
	{{/if}}
	</a>
	{{/primary_author}}

	<time class="article-item-time" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
		<strong>
			{{date format=' MMMM'}} {{date format='DD'}}, {{date format=' YYYY'}}
		</strong>
	</time>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
