{{! Links for social sharing of the post }}
<div class="social-sharing-bar">
	<a class="button share-facebook" target="_blank" rel="noopener noreferrer" title="Share over Facebook" aria-label="Share over Facebook" href="//www.facebook.com/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i></a>

	<a class="button share-twitter" target="_blank" rel="noopener noreferrer" title="Share over Twitter" aria-label="Share over Twitter" href="//twitter.com/share?text={{title}}&url={{url absolute="true"}}"><i class="fa fa-twitter"></i></a>

	<a class="button share-weibo" target="_blank" rel="noopener noreferrer" title="分享到微博" aria-label="分享到微博" href="//service.weibo.com/share/share.php?url={{url absolute="true"}}&title={{title}}"><i class="fa fa-weibo"></i></a>

	<a class="button share-qq" target="_blank" rel="noopener noreferrer" title="分享到QQ" aria-label="分享到QQ" href="//sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{url absolute="true"}}"><i class="fa fa-qq"></i></a>

	<button class="toggle-comments" type="button" aria-expanded="false"><span>Comments</span> <i class="fa fa-comments-o"></i></button>
</div>
